nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: auto;
  .language-select {
    margin-right: 10px;
  }
  select {
    cursor: pointer;
    appearance: none;
    background: transparent;
    border: none;
    text-transform: uppercase;
    font-family: $font-family;
    font-weight: 400;
    font-size: $font-size-base;
  }
  .navigation-small {
    position: absolute;
    z-index: 100;
    right: 0;
    top: 0;
    width: 90px;
    height: 90px;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    background-color: #f0ece2;
    cursor: pointer;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    @include xs-breakpoint {
      padding: 30px;
    }
    .border-white {
      margin-right: 20px;
    }

    .burger-menu,
    .close-menu {
      width: 32px;
      height: 32px;
      svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .border-frame {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    .border-left {
      background-color: #f0ece2;
      width: 0px;
      height: 0;
      position: absolute;
      left: 0;
      top: 0;
      transition: all 0.2s ease;
    }
    .border-right {
      background-color: #f0ece2;
      width: 0px;
      height: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: all 0.2s ease;
    }
    .border-bottom {
      background-color: #f0ece2;
      width: 100%;
      height: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      transition: all 0.2s ease;
    }
  }
  .navigation-expanded {
    position: absolute;
    display: none;
    z-index: 99;
    top: 0;
    left: 0;
    padding-right: 3vw;
    width: 100vw;
    height: 90px;
    background-color: #f0ece2;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    // padding: $block-margin-supersmall;
    opacity: 0;
    transition: all 0.3s ease;
    @include xs-breakpoint {
      padding: 142px $block-margin-supersmall;
      background-size: cover;
    }
    ul li a,
    .underline {
      color: $white;
    }
    .navigation-expanded--logo {
      margin-top: -100px;
      width: 240px;
      height: auto;
      @include xs-breakpoint {
        margin-top: -42px;
        width: 150px;
      }
    }
    .navigation-expanded--content {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;

      @include xs-breakpoint {
        flex-direction: column;
      }
      .navigation-expanded--content-left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        width: 100%;
        padding: 0 100px 0 $block-margin-supersmall;
        li {
          //   margin-bottom: 26px;
          display: flex;
          flex-direction: row;
          align-items: first baseline;
          justify-content: flex-start;
          @include xs-breakpoint {
            margin-bottom: 10px;
          }

          a {
            color: #1e0f00;
            font-weight: 500;
            font-size: 22px;
            @include xs-breakpoint {
              font-size: 22px;
            }
          }
        }
      }
      .navigation-expanded--content-right {
        margin-top: 17px;
        li {
          text-align: right;
          margin-bottom: 50px;
          @include xs-breakpoint {
            margin-bottom: 20px;
          }
        }
      }
    }
    .menu-links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      @include xs-breakpoint {
        flex-direction: column;
      }
      li {
        margin: 0 15px;
      }
    }
  }
  &.open {
    .navigation-small {
      color: $black;
      select {
        color: $black;
      }
      a.border-white {
        color: $black;
        border-color: $black;
        &:hover {
          color: $white;
          background-color: $black;
          border-color: $black;
        }
      }
    }
    .navigation-expanded {
      display: flex;
      &.open {
        opacity: 1;
      }
    }
    .border-frame {
      .border-left {
        height: 100%;
        width: 35px;
      }
      .border-right {
        height: 100%;
        width: 35px;
      }
      .border-bottom {
        height: 35px;
      }
    }
  }
  &.black {
    .navigation-small {
      color: $black;
      select {
        color: $black;
      }
      a.border-white {
        color: $black;
        border-color: $black;
        &:hover {
          color: $white;
          background-color: $black;
          border-color: $black;
        }
      }
      .burger-menu {
        background-image: url(../images/content/picto-burger-menu-black.svg);
      }
    }
  }
}

.link-bottom {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .bg-img-activities {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    animation: fade 2.5s ease infinite alternate;
  }
  .text-content {
    position:  absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      font-style: normal;
      font-weight: 700;
      font-size: 55px;
      line-height: 72px;
      text-align: center;
      color: #ffffff;
    }
    img {
      margin-top: 5vh;
      height: 90px;
      width: 10px;
      object-fit: contain;
    }
  }
  &#goContact {
    height: 50vh;
    background-color: #f0ece2;
    h3 {
      color: #1e0f00;
    }
  }
  &#goHome {
    height: 100vh;
    background-color:white;
    margin-top: 10vh;
    h3 {
      color: #1e0f00;
    }
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.75;
  }
}