.slider-seasons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  position: relative;
  .text-content {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h3 {
      font-style: normal;
      font-weight: 700;
      font-size: 55px;
      line-height: 72px;
      text-align: center;
      color: #f0ece2;
      margin-bottom: 120px;
    }
    p {
      color: #f0ece2;
      margin-bottom: 30px;
    }
    #text-discover {
      &.first {
        color: #1e0f00;
      }
    }
    .cta-slider {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      p {
        padding: 9px 14px;
        border: 1px solid #f0ece2;
        cursor: pointer;
        &.active {
          color: #1e0f00;
          border: 1px solid #f0ece2;
          background-color: #f0ece2;
          &.first {
            background-color: #1e0f00;
            border: 1px solid #1e0f00;
            color: #f0ece2;
          }
        }
        &.first {
          color: #1e0f00;
          border: 1px solid #1e0f00;
        }
      }
    }
    // &:first-of-type {
    //     p {
    //         color: #1e0f00;
    //     }
    // }
  }
  .bg-content {
    width: 100%;
    height: 100vh;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      &.active {
        opacity: 1;
      }
    }
  }
}
.blason-section {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  h2 {
    width: 60%;
    padding: 10%;
    color: #1e0f00;
    font-size: 55px;
    font-weight: 400;
  }
  img {
    width: 40%;
    height: 100%;
    padding: 5%;
    object-fit: contain;
  }
}
.text-slider-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  .text-slider-section-part {
    width: 50%;
    &:first-of-type {
      padding:10vh 10vh 0 10vh;
      background: url(../img/content/bg-yellow.png);
      background-repeat: no-repeat;
      background-size:65%;
      background-position: left bottom;
    }
    h3 {
      font-size: 60px;
      line-height: 1.4;
      width: 80%;
    }
  
    p {
      font-weight: 400;
      font-size: 35px;
    }
    .bee-top {
      margin-left: -10%;
      height: 15vh;
      width: auto;
    }
  }
  .slider-diag-content{
    position: relative;
    height: 100%;
    width: 100%;
    img {
      position: absolute;
      top: 10vh;
      left: 0;
    }
   
    img {
      height: 80vh;
      width:auto;

    }
    img:last-of-type {
      height: auto;
      width:70vh;
      left: 100%;
      top: 50%;
    }
  }
  .bee-part {
    width: 100%;
    height: 10vh;
    flex-grow:1;
    position: relative;
    img {
      width: auto;
      height: 90px;
      position: absolute;
      top: 0;
      left:-200px;
    }
  }
}
.watercolor-section {
  background-image: url(../img/content/watercolor.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vh 20vw;
  p {
    font-size: 35px;
  }
}