.text-slider-block {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include xs-breakpoint {
        flex-direction: column;
        justify-content: flex-end;
    }
    .text-slider-block-text {
        width: 44%;
        padding: 0 $block-margin-supersmall 0 $block-margin-small;
        @include xs-breakpoint {
            width: 100%;
        }
        p {
            margin-bottom: 35px;
            margin-top: 35px;
        }
    }
    .text-slider-block-slider {
        width: 56%;
        position: relative;
        @include xs-breakpoint {
            width: 100%;
            margin-top: $block-margin-small;
            height: auto;
        }
        .splide__track {
            height: 100%;
            li {
                height: 75vh;
                @include xs-breakpoint {
                    height: 45vh;
                }
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .top-infos-slide {
            position: absolute;
            top: 0;
            left: 0;
            background-color: $green;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 30px;
            @include xs-breakpoint {
                padding: 10px;
            }
            img {
                width: 100px;
                height: auto;
                @include xs-breakpoint {
                    width: 80px;
                }
            }
            p {
                font-weight: 700;
                margin: 10px 0;
            }
            a {
                font-size: 15px;
            }
        }
    }
    .cta-wrapper {
        .border-black:first-of-type {
            margin-right: 20px;
        }
    }
}